{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Synesthesia</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
<div class="container">
    <div class="content">
        <h1>Synesthesia</h1>
        <h2>Not Genre</h2>

        <div class="sliders">
            <label for="melancholic">Melancholic vs Cheerful</label>
            <input type="range" id="melancholic" name="melancholic" min="0" max="1" step="0.01">
            <br>

            <label for="electronic">Electronic vs Organic</label>
            <input type="range" id="electronic" name="electronic" min="0" max="1" step="0.01">
            <br>

            <label for="energy">Low Energy vs High Energy</label>
            <input type="range" id="energy" name="energy" min="0" max="1" step="0.01">
        </div>

        <div class="color-grid">
            <div class="color" id="color1"></div>
            <div class="color" id="color2"></div>
            <div class="color" id="color3"></div>
            <!-- Add more color divs as needed -->
        </div>
    </div>
</div>

<script src="{% static 'scripts.js' %}"></script>
</body>
</html>
